<%- include('partials/header') %>
<h1 class="day"><%= listTitle %></h1>

<div class="list">
  <% newListItem.forEach(newItem => { %>
  <div class="item" />
    <input type="checkbox" />
    <p><%=newItem.name %></p>
  </div>
  <% }) %>
</div>

<form action="/" method="post">
  <input
    type="text"
    name="newItem"
    placeholder="Add a todo..."
    autocomplete="off"
  />
  <button type="submit" name="list" value=<%=listTitle %> >+</button>
</form>

<%- include('partials/footer') %>
